@{
    ViewBag.Title = "ChoXacNhanRong";
    Layout = "~/Views/Shared/Layout_2.cshtml";
}

<div class="row ml-150">
    <h2 class="text-warning m-3">Không có đơn hàng chờ xác nhận</h2>
    <a class="mua-them" href="/SanPham/ShowAllSanPham">Mua Thêm</a>
</div>

